---
interface Props {
    title: string;
    content: string;
}

const { title, content } = Astro.props;
---

<div
    class="w-full bg-gray-800/30 p-8 rounded-xl backdrop-blur-sm border border-white/10 duration-300 hover:transform hover:-translate-y-1"
>
    <h2 class="text-2xl font-bold mb-4 text-center">{title}</h2>
    <p class="text-gray-400 text-center">
            {content}
  </p>
</div>
