---
interface Props {
    method: string;
    value: string;
    href: string;
}

const { method, value, href} = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="group p-8 rounded-xl hover:bg-white/5 transition-all duration-300 hover:scale-105 text-center"
>
    <div class="text-purple-400 group-hover:text-white transition-colors duration-300 mb-4 flex justify-center">
        <slot />
    </div>
    <p class="text-slate-400 text-sm mb-2 font-medium uppercase tracking-wider">{method}</p>
    <p class="text-white font-semibold text-lg">{value}</p>
</a>
